*.log
*.bac
npm-debug.log

build/
test/
migrations/


ethpm.json
.travis.yml
.solcover*
.gitattributes
.es*
.solium*


truffle.js
truffle*

contracts/Migrations.sol
contracts/stub/

coverage/
coverage.json

package/
*.tgz
